/*
 *= require_tree .
 *= require_self
 */

 /* =========================================
   PADRÃO GLOBAL DO SISTEMA
========================================= */

/* FONTES GERAIS */
body {
  font-size: 14px;
}


/* BOTÕES */
.btn {
  font-size: 13px;
  padding: 0.2rem 0.5rem;
}

/* INPUTS */
.form-control,
.form-select {
  font-size: 13px;
  padding: 0.25rem 0.5rem;
}
.form-check-label {
  font-size: 13px;
}

.form-label {
  font-size: 13px;
  margin-bottom: 2px;
}

/* TITULOS */
h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

/* =========================================
   APPLICATION TABELAS
========================================= */
.compact-table {
  width: auto;
}

.compact-table .btn {
  padding: 0.15rem 0.45rem;
}

/* =========================================
   REQUEST TABLE
========================================= */
.requests-table {
  width: 100%;
  table-layout: fixed;
}

.requests-table td:first-child {
  padding: 4px 8px !important;
  vertical-align: middle;
  white-space: nowrap;
}

.requests-table th {
  background-color: #8c8d8f;
  color: white;
}
.col-aluno {
  width: 30%;
}

.col-subjects {
  width: 45%;
}

.col-reason {
  width: 15%;
}

.col-actions {
  width: 1%;
  white-space: nowrap;
}

.exam-group {
  width: 100%;
  margin-bottom: 20px;
}


