/*
 *= require_tree .
 *= require_self
 */

 /* =========================================
   PADRÃO GLOBAL DO SISTEMA
========================================= */

/* FONTES GERAIS */
body {
  font-size: 14px;
}


/* BOTÕES */
.btn {
  font-size: 13px;
  padding: 0.2rem 0.5rem;
}

/* INPUTS */
.form-control,
.form-select {
  font-size: 13px;
  padding: 0.25rem 0.5rem;
}
.form-check-label {
  font-size: 13px;
}

.form-label {
  font-size: 13px;
  margin-bottom: 2px;
}

/* TITULOS */
h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

/* =========================================
   APPLICATION TABELAS
========================================= */
.compact-table {
  width: auto;
}

.compact-table .btn {
  padding: 0.15rem 0.45rem;
}

/* =========================================
   REQUEST TABLE
========================================= */
.requests-table {
  width: 100%;
  table-layout: fixed;
}

.requests-table td:first-child {
  padding: 4px 8px !important;
  vertical-align: middle;
  white-space: nowrap;
}

.requests-table th {
  background-color: #8c8d8f;
  color: white;
}

.col-reason {
  width: 15%;
}

.exam-group {
  width: 100%;
  margin-bottom: 20px;
}

/* =========================================
   PRINT-MAP
========================================= */
.print-map-table {
  width: auto;              /* <- muda aqui */
  max-width: 850px;
  margin: 0 0 20px 0;
  table-layout: auto;      /* <- muda aqui também */
  font-size: 13px;
  border-collapse: collapse;
}

.print-map-table th:nth-child(1),
.print-map-table td:nth-child(1) {
  width: 110px;
  white-space: nowrap;
}

.print-map-table th:nth-child(2),
.print-map-table td:nth-child(2) {
  min-width: 250px;
  max-width: 350px;
}

.print-map-table th:nth-child(3),
.print-map-table td:nth-child(3) {
  width: 70px;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
}

@media print {
  .navbar,
  .btn,
  footer {
    display: none !important;
  }
}