.exam-request-show .details-table {
  width: auto;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  font-size: 14px;
}

.exam-request-show .details-table,
.exam-request-show .details-table th,
.exam-request-show .details-table td {
  border: 1px solid #9ca3af;
}

.exam-request-show .details-table th,
.exam-request-show .details-table td {
  padding: 8px 12px;
  text-align: left;
}

.exam-request-show .details-table th {
  background: #f3f4f6;
  font-weight: bold;
}