.frequency-pdf { background: #fff !important; }
.frequency-table { width: 100%; border-collapse: collapse; }
.frequency-table th { background: #fff !important; border: 1px solid #000 !important; }
.frequency-table td { border: 1px solid #000; }
.frequency-table tbody tr:nth-child(even) { background: #d2e5fd !important; }